body {
    margin: 0;
    padding: 0;
    background-color: #E0E1DD;
}

.anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.afacad {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .mørkeblå {
    color: #415A77;
}

.lyseblå {
    color: #778DA9;
} */

.tittelBoks {
    padding-left: 5.5vw;
    width: 94.5vw;
    height: 25.2vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
}

.overskrift {
    font-size: 15.5vmin;
    color: #0D1B2A;
    margin: 0;
    margin-right: 2.7vw;
}

.klasse {
    font-size: 15.5vmin;
    color: #415A77;
    margin: 0;
}

.ITellerMP {
    font-size: 15.5vmin;
    color: #778DA9;
    margin: 0;
}

.valgSection {
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    width: 94.5vw;
    height: 65.8vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.valgBoks {
    background-color: #778DA9;
    width: 90vw;
    height: 16vh;
    border-radius: 3vmin;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.valgBoks img {
    width: 15vw;
    height: 16vh;
    border-radius: 3vmin;
    margin-right: 2.7vw;
}

.valgTekst {
    width: 48vw;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}

.partiNavn {
    color: #1B263B;
    font-size: 6.3vmin;
}

.elevNavn {
    color: #415A77;
    font-size: 2.88vmin;
}

.stemKnapp {
    background-color: #415A77;
    width: 20.5vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vmin;
    color: #ffffff;
    font-size: 5vmin;
    transition: background-color ease 0.3s;
}

.stemKnapp:active {
    background-color: #1B263B;
}

.bunn {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4vmin;
    letter-spacing: 20%;
}